* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #a7c0da;
  background-color: #050515;
  margin: 0px auto;
  overflow: hidden; /* Hide vertical scrollbar */
}

canvas {
  margin: 0px;
}
